html, body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0;
    background-color: #F0ECE1;
    color: #5E7785;
}
h1{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: normal;
}

.wrapper_main{
    max-width: 1000px;
    margin:0 auto;
}